@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html, body {
  margin: 0;
  font-family: 'Pacifico', cursive;
}

body {
  background-color: #fff;
}

h1 {
  margin-top: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(255,255,255);
  color: #000;
  opacity: 0.5;
  font-size: 6rem;
}

p {
  font-family: 'Comfortaa', cursive;
  background-color: #fff;
  background-color: hsla(0, 100%, 100%, 0.5);
  color: rgb(71, 12, 116);
  font-size: 4rem;
}

#primeiro-p {
  color: rgb(2, 23, 255);
  font-size: 3em;
}

#segundo-p {
  font-weight: bold;
  font-style: italic;
  color: rgb(20, 136, 16);
  font-size: 2em;
  text-transform: capitalize;
  text-decoration: underline;
}

.ajustar-link{
  font-size: 6rem;
  text-decoration: none;
}

.default-p {
  color: rgb(22, 53, 119);
  font-size: 1em;
}