html, body {
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #000;
    color: rgb(245, 248, 250);

}

img {
     border-radius: 2px;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    border-radius: 10px; 
    box-shadow: 0 0 1em rgb(247, 246, 244);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgba(110, 163, 157, 0.2);
    color: #fffff;
}

