h1 {
  background-image: url("../img/logo.jpeg");
  background-repeat: no-repeat;
  text-indent: 50px;
  color: green;
  background-color: #eeeeee;
}

.caixa-1 {
  text-indent: 200px;
  color: green;
  text-shadow: 1px 1px 3px #000;
}
.caixa-1:first-letter{
  font-size: 500%;
}
.caixa-1:first-line {
  color: white;
}

.caixa-2 {
  text-indent: 175px;
  color: green;
}

.caixa-3 {
  text-indent: 20px;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover{
  text-decoration: underline;
  color: cadetblue;
}

a:active {
  color: darkgray;
  font-size: 36px;
  text-decoration: none;
}

input {
  padding: 6px 12px 6px 12px;
  border: 1px solid blue;
  color: #665544;
}

input[type="submit"]:hover {
  background-color: #665544;
  color: #fff;
  cursor: pointer;
}

input[type="text"]:focus {
  color: red;
}